<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Flight reservations</title>
    {% endblock %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<body>
<div class="container-fluid">
    {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href={% url 'flightSearch' %}>Flight reservations</a>
                </div>
                <ul class="nav navbar-nav mr-auto">
                    <li class="active"><a href={% url 'flightSearch' %}>Flight search</a></li>
                    <li><a href={% url 'allFlights' %}>All flights</a></li>
                    {% if user.is_authenticated %}
                        <li><a href={% url 'reservations' %}>Your reservations</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}

                        <form action={% url 'logout' %} method="POST" id="logout-form">
                            {% csrf_token %}
                        </form>
                        <li><a>Logged as: {{ user }}</a></li>
                        <li>
                            <a href="javascript:{}" onclick="document.getElementById('logout-form').submit();"><span
                                    class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </li>
                    {% else %}
                        <li><a href={% url 'register' %}><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a data-toggle="modal" data-target="#loginModal"><span
                                class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                {% block content %}{% endblock %}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action={% url 'login' %} method="POST">
                {% csrf_token %}
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username"
                               name="username"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password"
                               name="password" required>
                    </div>


                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>