<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Flight reservations</title>
    {% endblock %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<body>
<div class="container-fluid">
    {% block navbar %}
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href={% url 'flightSearch' %}>Flight reservations</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href={% url 'flightSearch' %}>Flight search</a></li>
      <li><a href={% url 'allFlights' %}>All flights</a></li>
    </ul>
  </div>
</nav>
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                {% block content %}{% endblock %}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>
</body>
</html>