
.search-form {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.search-form option {
    width: 200px;
}

.search-form label {
    align-content: center;
    text-align: center;
    width: 130px;
}

.table {
    width: 100%;
    border: 1px solid #b3adad;
    border-collapse: collapse;
    padding: 5px;
}

.table th {
    border: 1px solid #b3adad;
    padding: 5px;
    background: #f0f0f0;
    color: #313030;
}

.table td {
    border: 1px solid #b3adad;
    text-align: center;
    padding: 5px;
    background: #ffffff;
    color: #313030;
}
.accordion-about {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion-about:hover {
  background-color: #ccc;
}

.active-nav{
background-color: #ccc;
}

.accordion-about:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-about:after {
  content: "\2212";
}

.panel-about {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-contact {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion-contact:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-contact:after {
  content: "\2212";
}

.panel-contact {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.contact-input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  resize: vertical;
}

input[type=submit] {
  background-color: #337ab7;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 41px;
}

input[type=submit]:hover {
  background-color: ##337ab7;
}

.container-contactform {
  border-radius: 5px;
  padding: 20px;
}

.accordion-funfacts {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active-funfacts, .accordion:hover {
  background-color: #ccc;
}
.accordion-funfacts:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-funfacts:after {
  content: "\2212";
}

.panel-funfacts {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.airportselector {
    width: 170px;
}

.dateselector{
    width: 120px;
    height: 40px;
}

/* https://bootsnipp.com/snippets/8G2Q */
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.filters {
text-align-last: center
}

.panel-primary>.panel-heading{
background-color: #777;
border-color: #777;
}

.panel-primary {
    border-color: #777;
}


.register-input {
  width: 200px !importnat;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.register-input:focus{
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.errorlist{
    list-style-type: none;
}

.ourFleet{
    padding-left:30px;
}