{% extends  "base.html" %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Departure date</th>
            <th>Cabin class</th>
            <th>Flight number</th>
        </tr>
        </thead>
        <tbody>
        {% for flight in flightList %}
            <tr>
                <td>{{ flight.departureAirport }}</td>
                <td>{{ flight.arrivalAirport }}</td>
                <td>{{ flight.departureDate }}</td>
                <td>{{ flight.cabin }}</td>
                <td>{{ flight.flightNumber }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}